MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

REDIS_PASSWORD=

HOST=

VLOGS_PUSH_URL=https://victorialogs.example.com/insert/loki/api/v1/push
VLOGS_USERNAME=change-me
VLOGS_PASSWORD=change-me
LOG_HOSTNAME=local-docker-host
